<!doctype html>
<html ng-app='expensesApp'>

<head>
  <title>My Expense Manager</title>
  <script src='./bower_components/angular/angular.min.js'></script>

  <!-- <link rel='stylesheet' href='./bower_components/bootstrap/dist/css/bootstrap.min.css'> -->

  <script src='./app/expenses/expenses.js'></script>
</head>

<body ng-controller='ExpensesCtrl'>
  <h1>{{ 'My Expense Manager' }}</h1>
  <form>
    <input type='text' ng-model='item'></input>
    <input type='text' ng-model='amount'></input>
    <input type='text' ng-model='day'></input>
    <input type='text' ng-model='month'></input>
    <input type='text' ng-model='year'></input>
    <input type='text' ng-model='notes'></input>
    <input type='submit'></input>
  </form>
  <p> {{ item }}</p>
</body>

</html>
