<div ng-controller='ExpensesCtrl' container>

  <form ng-submit='sendExpense()'>
    <input type='text' ng-model='submittedExpense.item' placeholder='Item'></input>
    <input type='text' ng-model='submittedExpense.amount' placeholder='$'></input>
    <input type='text' ng-model='submittedExpense.month' placeholder='Month'></input>
    <input type='text' ng-model='submittedExpense.day' placeholder='Day'></input>
    <input type='text' ng-model='submittedExpense.year' placeholder='Year'></input>
    <input type='text' ng-model='submittedExpense.note' placeholder='Notes'></input>
    <input type='text' ng-model='submittedExpense.category' placeholder='Category'></input>
    <input type='submit' value='Add'></input>
  </form>

  <button ng-click='getExpenses()'>View Expenses</button>

  <table class='table'>

    <tr>
      <th>Item</th>
      <th>Amount</th>
      <th>Date</th>
<!--       <th>Day</th>
      <th>Year</th> -->
      <th>Notes</th>
      <th>Category</th>
    </tr>
    <tr ng-repeat='expense in expenses'>
      <td>{{ expense.item }}</td>
      <td>{{ '$' + expense.amount }}</td>
      <td>{{ expense.month + '/' + expense.day + '/' + expense.year }}</td>
<!--       <td>{{ expense.day }}</td>
      <td>{{ expense.year }}</td> -->
      <td>{{ expense.note }}</td>
      <td>{{ expense.category }}</td>
    </tr>
  </table>
</div>
